.parallax-container {
   
    overflow: hidden;
}

.parallax-ball {
    position: absolute;
    width: 44rem;
    height: 44rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    transition: transform 1s ease-out;
}

.ball-1 {
    top: 39%;
    left: 62%;
    background-image: url('../../img/ball2.svg');
}

.ball-2 {
    top: 38%;
    left: 3%;
    background-image: url('../../img/ball1.svg');
}
