.user-menu {
    font-size: 16px;
    color: #000000;
    background: #9564AA1A;
    border: 0.2rem solid #9564AA33;
    border-radius: 1rem;
    width: 27rem;
    &__info {
        display: flex;
        align-items: center;
        margin: 1.5rem 0 1.5rem 1.5rem;
    }
    &__details {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }
    &__name {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.8rem;
        margin-bottom: 0.2rem;
    }
    &__status{
        font-weight: 400;
        font-size: 1rem;
        color: white;
        background-color: #684677;
        width: 8.6rem;
        height: 2.1rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.order-buy-now {
    display: none;
}
.line-short{
    width: 23.2rem;
    height: 2px;
    background-color: #9564AA;
    margin: 1.5rem 0 0rem 1.5rem;
}
.container-links {
    margin-left: 2rem;
    &__link {
        display: flex;
        align-items: center;
        margin: 1.5rem 0;
        height: 3rem;
        text-decoration: none;
        width: 53%;
        border-radius: 1rem;
        img {
            margin-right: 2.6rem;
        }
        .icon-mask {
            margin-right: 2.3rem;
            background-color: rgba(149, 100, 170, 1);
            width: 2.3rem;
            height: 2.3rem;
            mask-size: cover;
            mask-repeat: no-repeat;
            display: inline-block;
        }
        .icon-mask2 {
            width: 2.9rem;
            margin-right: 1.8rem;
        }
        .icon-mask4 {
            width: 2.4rem;
        }
        .icon-mask5 {
            margin-right: 1.7rem;
            width: 3rem;
        }
        span {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 1.8rem;
            color: #000000;
        }
    }
    &__link:hover {
        background-color: #9564aa;
        .icon-mask  {
            background-color: #FFCF2D;
            animation: rotatePhoto 2s infinite;
        }
        span {
            color: white;
        }
    }
}
.cont {
    display: flex;
}


.diamond-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2.5rem;
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: #9564AA33;
    }
    &__icon {
        background-color: rgba(149, 100, 170, 1);
        width: 2.3rem;
        height: 2.3rem;
        mask-size: cover;
        mask-repeat: no-repeat;
        display: inline-block;
    }
    &__spend-use, 
    &__gift-diamond-glases,
    &__view-settings {
        display: flex;
        justify-content: space-between;
        text-align: center;
        > * {
            width: 11rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-decoration: none;

            span {
                font-weight: 700;
                font-size: 1.2rem;
                line-height: 1.3rem;
                color: rgba(149, 100, 170, 1);
                margin-top: 0.4rem;
            }
        }
    }
    a:hover {
        .diamond-block__icon {
            background-color: #FFCF2D;
            animation: rotatePhoto 2s infinite;
        }
    }
    img{
        width: 2.4rem;
        height: 2.4rem;
    }
    &__diamond {
        width: 10.7rem !important;
        height: 12.9rem !important;
    }
    &__use {
        margin-top: 0.7rem;
    }

}


.diamond-block-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2.5rem;
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: #9564AA33;
    }
    &__spend-use, 
    &__gift-diamond-glases,
    &__view-settings {
        display: flex;
        justify-content: space-between;
        text-align: center;
        > * {
            width: 11rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            

            span {
                font-weight: 700;
                font-size: 1.2rem;
                line-height: 1.3rem;
                color: rgba(149, 100, 170, 1);
                margin-top: 0.4rem;
            }
        }
    }
    img{
        width: 2.4rem;
        height: 2.4rem;
    }
    &__diamond {
        width: 10.7rem !important;
        height: 12.9rem !important;
    }
    &__use {
        margin-top: 0.7rem;
    }

}


@keyframes rotatePhoto {
    0% {
        transform: rotate(0deg); 
    }
    25% {
        transform: rotate(-90deg); 
    }
    50% {
        transform: rotate(0deg); 
    }
    75% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg); 
    }
}
