@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
    
html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: "Ubuntu", serif;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}

@import "./blocks/_parallax.scss";
@import "./blocks/slider";
@import "./blocks/main-block.scss";
@import "./blocks/_header.scss";
@import "./blocks/_media-laptop-tablet.scss";
@import "./blocks/_main-content-mobile.scss";
